<div class="flex flex-col items-stretch justify-start w-full h-full grow">
  <div class="flex flex-row p-6 bg-slate-100">
    <div class="flex flex-row p-3 mr-6 bg-white shadow rounded-2xl w-fit">
      <img class="object-cover w-24 h-24 mr-4 rounded-lg" [src]="photoUrl" [alt]="nom">
      <div class="flex flex-col items-start justify-between">
        <div>
          <h1 class="text-2xl font-semibold">{{nom}}</h1>
          <h2>{{adresse}}</h2>
        </div>
        <button class="hover:underline" type="button" (click)="onLogOut()">
          Se déconnecter
        </button>
      </div>
    </div>
    <div>
      Your stats here
    </div>
  </div>
  <div class="flex flex-col items-stretch justify-start grow">
    <div class="p-4 bg-white">
      <button class="px-6 cta" type="button" (click)="onCreateMenu()">
        Créer un menu
      </button>
    </div>
    <div class="grow flex justify-center items-center">
      <app-create-menu
        *ngIf="currentTab === 'CreateMenu'"
        [onValidateAction]="onMenuCreated"
        [onCancelAction]="onCancelCreateMenu"></app-create-menu>
      <app-menu-list
        class="grow"
        *ngIf="currentTab === 'Menus'"
        [restaurantId]="id || '_'"></app-menu-list>
    </div>
  </div>
</div>
