<header class="flex flex-row justify-between py-6 px-16">
  <div><a class="ekaly" routerLink="">Ekaly</a></div>
  <nav class="flex flex-row justify-evenly">
    <a class="navLink" routerLink="/restaurants" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
      Trouver un restaurant
    </a>
    <a class="navLink" routerLink="/menus" routerLinkActive="activeLink" [routerLinkActiveOptions]="{ exact: true }">
      Nos plats
    </a>
  </nav>
  <div class="flex flex-row justify-end items-center">
    <button class="cta px-4 mr-4" type="button">Créer un compte</button>
    <button class="secondAction px-4 mr-4" type="button">Se connecter</button>
    <button
      class="cta-icon border border-transparent bg-orange-600 group hover:bg-white hover:border-orange-600"
      type="button"
      (click)="onAsideToggle(true)">
      <span class="material-icons-round text-white group-hover:text-orange-600 transition">
        shopping_basket
      </span>
    </button>
  </div>
  <aside
    class="absolute w-fit z-10 right-0 inset-y-0 transition bg-white shadow min-w-[28rem] flex flex-col justify-start items-stretch"
    [ngClass]="{ 'translate-x-full': !asideOpen }"
  >
    <div class="flex flex-row justify-start items-center p-4">
      <button class="cta-icon" type="button" (click)="onAsideToggle(false)">
        <span class="material-icons-round text-gray-800 text-4xl">close</span>
      </button>
      <h2 class="text-2xl font-semibold self-stretch w-full text-center flex justify-center items-center">
        Mes commandes
      </h2>
    </div>
    <div class="bg-gray-200 p-4 self-stretch grow shrink overflow-auto">
      <app-commande-list></app-commande-list>
    </div>
    <div class="p-4">
      <button class="cta w-full" type="button">Commander</button>
    </div>
  </aside>
</header>
